$lightgrey: rgb(204, 214, 246);
$lightgreen: rgb(100, 255, 218);

.leftNavigation {
    color: $lightgrey;
    display: flex;
    // justify-content: space-between;
    justify-content: flex-end;
    flex: 0.3;
    list-style-type: none;
    gap: 20px;
    .resumeLink {
        color: $lightgreen;
        border: 1px solid $lightgreen;
        padding: 10px;
        border-radius: 5px;
    }

    li a {
        text-decoration: none;
        color: $lightgrey;
        display: inline-block;
    }

    li a:hover {
        color: $lightgreen;
    }
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    height: 60px;
    max-width: 1500px;

    h1 a {
        color: $lightgrey;
        text-decoration: none;
    }
}

@media (max-width: 770px) {
    .nav {
        display: none;
    }
}
